html {
    height: 100%;
}

label{
    font-weight: bold; 
}

select{
    border-radius: 5px;
}

#Menu ul{
    font-weight: bold;
    margin-top: 10px;
    background-color: lightgreen;
    border-top: 3px solid  forestgreen;
    border-bottom: 3px solid forestgreen;
    color: lightblue;
}

#Menu ul li{ 
    text-align: center;
    margin-left: 10%;
    list-style: none;
    display: inline;
}

#Menu ul li a{
    color: forestgreen;
}

body{
    background-image: url('../Images/plante.jpg');
    min-height: 100%;
    margin: 0;
    padding: 0;
}

#formulaire{
    background-color: white;
    margin : 0% 10% 10% 10%;
    min-height: 100vh;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
    opacity: 0.9;
}

#mainTitle{
    padding-top: 10px;
    font-size: 500%;
    color: floralwhite;
    text-align: center;
    font-family: 'Libre Barcode 39 Text', cursive;
}

.icone{
    height: 100px;
    border: 3px solid #0F9D58;
    border-radius: 10px;
    float: left;
    margin-right: 20px;

}

